body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    color: #222;
    padding: 20px;
    line-height: 1.6;
}

.section {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}


.gradient-text {
    font-size: 36px;
    background: linear-gradient(90deg, #5f86cd, #e7e8e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 25px;
}


h3, h4 {
    color: #5f86cd;
    margin-top: 20px;
    margin-bottom: 10px;
}


p {
    font-size: 17px;
    margin-bottom: 15px;
}

/* Списки */
ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

li::before {
    content: "✔️";
    margin-right: 8px;
}


pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 20px;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}


a {
    color: #5f86cd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.block {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.block-icon {
    font-size: 22px;
    color: #5f86cd;
    line-height: 1;
}

.block-content p {
    margin: 0;
}