body {
    background-image: url("https://i.pinimg.com/736x/e0/3a/72/e03a7261348b3940a97618cb4b1421a6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    
    #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

    #btn {
        background-color: white;
        border-radius: 50px;
        padding: 10px;
        font-size: 30px;
        border: 1px solid #ff3d68;
        font-family: "Lobster", sans-serif;
        position: fixed;
    }

    #par {
        display: none;
        font-family: "Lobster", sans-serif;
        font-size :28px;
        background-color: white;
        margin-top : 500px;
        padding: 20px;
        border: 5px solid #78DEC7;
        border-radius: 50px;
        width: 70%;
        text-align : center;

    }